.logo{
    position: relative;
    width: 80%;
    margin-left: 35%;
}

.svg{
    position: relative;
    width: 30%;
    float: right;
    margin-left: 10%;
    top: 20px;
}

.svg.ios{
    position: relative;
    margin-right: -40%;
    width: 60%;
}

.logo.ios{
    position: relative;
    width: 100%;
    margin-right: 95%;
}

.logoMenu{
    padding-bottom: 10px;
    width: 35%;
    margin-left: 30%;
    margin-top: 15px;
}

.body{
    --background: #33AEB5;
}

.img-home{
    max-width: 55%;
    max-height: 40%;
    margin-left: 27%;
    margin-top: 10%;
}

.card-home{
    border-radius: 15%;
    width: 105%;
    margin: auto;
    height: 102%;
}
.title-home{
    font-size: 11px;
    text-align: center;
}

.title-home.ios{
    font-size: 8px;
}
