<ion-app>
  <ion-router-outlet></ion-router-outlet>
    <ion-menu side="start" content-id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-img class="logoMenu" src="./assets/logo-icon/logoPmoney.png"></ion-img>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-item >
            <ion-img src="./assets/logo-icon/money2.png" style="width: 10%;" slot="start"></ion-img>
            <ion-label>Parrainel Money</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="./assets/logo-icon/megaphone.png" style="width: 10%;" slot="start"></ion-img>
            <ion-label>Annonces</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="./assets/logo-icon/explore.png" style="width: 10%;" slot="start"></ion-img>
            <ion-label>Conciergerie</ion-label>
          </ion-item>
          <ion-item>
            <ion-img src="./assets/logo-icon/money2.png" style="width: 10%;" slot="start"></ion-img>
            <ion-label>Tontines</ion-label>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>

    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>
            <ion-grid>
              <ion-row>
                <ion-col>
                    <ion-img class="logo" src="/assets/logo-icon/logoPmoney.png"></ion-img>
                </ion-col>
                <ion-col>
                    <ion-img class="svg" src="/assets/logo-icon/shopping-cart.png"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="body">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card class="card-home" (click)="transfertArgent()">
                <img class="img-home" src="./assets/logo-icon/peer-to-peer.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Transfert d'argent</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card-home">
                <img class="img-home" src="./assets/logo-icon/carteCrédit.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Crédit téléphonique</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
      
          <ion-row>
            <ion-col>
              <ion-card class="card-home">
                <img class="img-home" src="./assets/logo-icon/facture.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Paiement facture</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card-home">
                <img class="img-home" src="./assets/logo-icon/paiementMarchand.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Paiement marchand</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
      
          
          <ion-row>
            <ion-col>
              <ion-card class="card-home">
                <img class="img-home" src="./assets/logo-icon/coin.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Cotisation de Groupe</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card-home">
                <img class="img-home" src="./assets/logo-icon/supermarket.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Boutique</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card class="card-home">
                <img class="img-home" src="./assets/logo-icon/project.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Projets</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
            <ion-col>
              <ion-card class="card-home">
                <img class="img-home" src="./assets/logo-icon/transaction.png" />
              <ion-card-header>
                <ion-card-subtitle class="title-home">Mes transactions</ion-card-subtitle>
              </ion-card-header>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-content>
    </div>
</ion-app>

