<section>
  <header>
    <strong>Choisissez votre kalpe electronique</strong>
    pour cette operation
  </header>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block">Wallet</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block">Carte bancaire</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</section>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card-wallet">
          <img class="img-wallet" src="./assets/logo-icon/orangemoney.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-wallet">Orange Money</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-wallet">
          <img class="img-wallet" src="./assets/logo-icon/freeMoney.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-wallet">Free Money</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card-wallet">
          <img class="img-wallet" src="./assets/logo-icon/yup.jpeg"/>
        <ion-card-header>
          <ion-card-subtitle class="title-wallet">Yup</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-wallet">
          <img class="img-wallet" src="./assets/logo-icon/wizall.png"/>
        <ion-card-header>
          <ion-card-subtitle class="title-wallet">Wizall Money</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col>
        <ion-card class="card-wallet">
          <img class="img-wallet" src="./assets/logo-icon/coin.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-wallet">E-Money</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
