<ion-header>
  <ion-toolbar>
    <ion-title>
      Paranel Money
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="body">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="card-home">
          <img  class="img-home" src="./assets/logo-icon/cash-back.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home">Dépot</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-home">
          <img class="img-home" src="./assets/logo-icon/retrait.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home" fullscreen>Retrait</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card-home">
          <img class="img-home" src="./assets/logo-icon/peer-to-peer.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home">Transfert d'argent</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-home">
          <img class="img-home" src="./assets/logo-icon/carteCrédit.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home">Credit téléphonique</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="card-home">
          <img class="img-home" src="./assets/logo-icon/facture.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home">Paiement facture</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-home">
          <img class="img-home" src="./assets/logo-icon/paiementMarchand.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home">Paiement marchand</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>

    
    <ion-row>
      <ion-col>
        <ion-card class="card-home">
          <img class="img-home" src="./assets/logo-icon/transfertVersCompte.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home">Transfert vers compte</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="card-home">
          <img class="img-home" src="./assets/logo-icon/transaction.png" />
        <ion-card-header>
          <ion-card-subtitle class="title-home">Mes transactions</ion-card-subtitle>
        </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
